* {
    /* outline: 1px solid black; */
}

html {
    /* color: var(--nord-6); */
    /* background-color: var(--nord-0); */
    color: palevioletred;
    background-color: black;

    font-family: 'Inconsolata', 'Courier New', Courier, monospace;

    /* background: repeat url(/paint.net/crackle.gif); */
    /* background: no-repeat center url(/paint.net/polina-kuzovkova-txb2Pvl6zWs-unsplash.jpg) */
}

.content {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 1ch;
}

.card {
    /* background-color: var(--nord-1); */
    /* background-color: #25242360; */
    /* background-color: #4c566a80; */
    /* background-color: #3b425250; */
    background-color: #3b425240;
    background-color: #0005;
    /* background-color: transparent; */

    backdrop-filter: blur(3px);
    /* filter: blur(3px); */

    /* border: 1px solid var(--nord-3); */
    /* border: 1px solid #4c566a80; */
    /* border-radius: 1rem; */

    /* box-shadow: -0.1rem 0.1rem 0.1rem #252423; */

    width: min-content;
    /* padding: 1rem 1ch; */
    padding: 1ch;
}
/* .card-bg {
    outline: 1px solid red;
    background-color: #3b425240;
    filter: blur(2px);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -100;
} */

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 0.5s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    text-align: center;

    /* margin: 1rem auto; */
    margin: 0 auto 1rem auto;
}
nav > ul > li {
    display: inline;
}
nav a {
    color: inherit;

    text-decoration: none;
}
nav a::before {
    content: "/";
}
nav a::after {
    content: "/";
}
nav a:hover::before {
    content: "[";
}
nav a:hover::after {
    content: "]";
}

h1 {
    /* font-size: 1.5rem; */
    text-align: center;
    margin: 0 auto 0 auto;
}

footer {
    /* color: var(--nord-6); */
    /* opacity: 0.25; */

    font-size: 0.75rem;
    font-style: italic;
    text-align: center;

    max-width: 256px;
}




/* File Browsers */
.files details summary {
    cursor: pointer;
    list-style: none;

    display: flex;
    flex: row nowrap;
    column-gap: 1ch;
}
.files details summary::-webkit-details-marker {
    display:none;
}
.files details summary:hover {
    /* color: var(--nord-14); */
    color: palegoldenrod;
}
.files details summary .file-name {
    flex-grow: 1;
}
.files details[open] .file-content {
    /* color: var(--nord-14); */
    /* border-left: 1px solid var(--nord-14); */
    color: palevioletred;
    border-left: 1px solid palevioletred;
    padding-left: 1ch;
    margin-bottom: 1rem;

    animation: fadeInAnimation 0.5s ease;
}

.files .file-content ul {
    /* list-style-type: square; */
    /* list-style-position: inside; */

}
.files .file-content ul > li::before {
    content: "- "
}
.files img {
    width: 100%;
    height: 100%;
}
.files dl dt {
    float: left;
    clear: left;
}
.files dl dt::after {
    content: ":\a0";
}






#scanlines {
    /* background: repeating-linear-gradient(transparent, transparent 2px, blue 3px, blue 3px); */
    background: repeating-linear-gradient(transparent, transparent 2px, white 3px, white 3px);
    background-size: auto 100%;
    background-position: center center;
    background-blend-mode: overlay;
    opacity: 0.2;

    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    pointer-events: none;
}

.page-bg {
    /* background-image: url(/assets/bg/0064_small.gif); */
    /* background-image: url(/assets/bg/nurple-static-bright.gif); */
    /* background-image: url(/assets/bg/stars3.gif); */
    /* background-image: url(/assets/bg/171027.jpg); */
    /* background-image: url(/assets/bg/L.jpg); */
    /* background-image: url(/assets/bg/M.jpg); */
    /* background-image: url(/assets/bg/N.png); */
    background-image: url(/assets/bg/N_dithered.png);
    /* background-image: url(/assets/bg/N_dithered2.png); */
    /* background-repeat: repeat; */
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-size: contain; */
    opacity: 0.5;
    /* opacity: 1; */

    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: -9999;
    user-select: none;
}